header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 20px;
}

.dashboard-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
    margin-left: 750px;
}

button {
    background-color: #0F4D86;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #e2cd13;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #0F4D86;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-container {
    display: none;
}

#usuariosTable, #hoteisTable {
    display: block;
}
.titulo-dashboard-adm{
    margin-left: 720px;
}