.card {
    height: 100%;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.carousel-item {
    height: 200px; /* Define a altura das imagens do carousel */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adiciona margens automáticas para os botões de navegação do carousel */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para os botões */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: white; /* Ícones brancos */
}

.card-body .btn {
    margin-top: auto; /* Garante que o botão de reserva fique na parte inferior do card */
}